@model MotorcycleCommunityProject.Models.RiderDto
@{
    ViewBag.Title = "Edit";
}

<h2>Edit Rider Details</h2>
<a href="../List">Back to List</a>

@using (Html.BeginForm())
{
    //RiderController will look for this token to approve the request
    @Html.AntiForgeryToken()

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.RiderId)
    <ul>
        <li>
            @Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "control-label" })
            @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
        </li>
        <li>
            @Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = "control-label" })
            @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
        </li>
        <li>
            @Html.LabelFor(model => model.Bio, htmlAttributes: new { @class = "control-label" })
            @Html.EditorFor(model => model.Bio, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Bio, "", new { @class = "text-danger" })
        </li>
        <li>
            @Html.LabelFor(model => model.BikeSize, htmlAttributes: new { @class = "control-label" })
            @Html.EditorFor(model => model.BikeSize, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.BikeSize, "", new { @class = "text-danger" })
        </li>
        <li>
            @Html.LabelFor(model => model.Age, htmlAttributes: new { @class = "control-label" })
            @Html.EditorFor(model => model.Age, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Age, "", new { @class = "text-danger" })
        </li>
    </ul>
    <button type="submit" value="Edit">Create Rider</button>

    <div>

    </div>
}
