@model IEnumerable<MotorcycleCommunityProject.Models.RiderDto>

@{
    ViewBag.Title = "List";
}

<h2>List</h2>
@Html.ActionLink("Add Rider","Create")
<table>
    <thead>
        <tr>
            <th>
                Rider ID
            </th>
    
            <th>
                First Name
            </th>
            <th>
                Last Name
            </th>
            <th>
                Bio
            </th>
            <th>
                Bike Size
            </th>
            <th>
                Age
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach(var Rider in Model)
        {
            <tr>
                <td>@Rider.RiderId</td>
                <td>@Rider.FirstName</td>
                <td>@Rider.LastName</td>
                <td>@Rider.Bio</td>
                <td>@Rider.BikeSize</td>
                <td>@Rider.Age</td>
            </tr>
        }
    </tbody>
</table>